@using Microsoft.AspNetCore.Mvc.Localization
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
@inject IViewLocalizer Localizer

<p>@Localizer["Hello"]</p>
